p Hallo #{adminName},
if newUser
    p eine neue Klinik hat sich auf print4life registriert: #{userName} (#{userEmail}, #{hospitalName})
else 
    p die folgende Klinik möchte für print4life aktiviert werden: #{userName} (#{userEmail}, #{hospitalName})

p Der Benutzer ist deaktiviert und kann sich nicht einloggen. Du kannst ihn hier #[a(href=url) aktivieren] !

p Viele Grüße,
p Das System